.menuTitle {
  text-align: center;
}

.mainContainerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchDiv {
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

/* Data Grid CSS */
.MuiDataGrid-row.Mui-selected {
  background-color: #ffcccc !important; /* 클릭된 행의 연한 톤 핑크 */
}

.actionBtns {
  text-align: right;
}

.actionBtns button {
  margin: 5px;
}
