.menuTitle {
  text-align: center;
}

.mainContainerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchDiv {
  display: flex;
  justify-content: space-around;
  margin: 5%;
}