.homeHeader {
  margin-left: 10px;
  margin-right: 10px;
}

.homeHeaderNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogoDiv {
  width: 10%;
}

.headerMenuDiv {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.headerUserDiv {
  display: flex;
  width: 10%;
  justify-content: space-evenly;
}

.headerLogo {
  width: 5%;
  height: 5%;
  margin: -10px;
  cursor: pointer;
}

.headerMenuItem {
  cursor: pointer;
}
