.missionManageDiv {
  width: 90%;
}

.missionMngStatusDiv {
  border-collapse: collapse;
  width: 100%;
  text-align: -webkit-center;
  text-align-last: center;
}

.missionMngStatusDiv th {
  background-color: #ffcccc; /* 헤더 배경색 */
  color: #333; /* 헤더 텍스트 색상 */
  padding: 12px 15px; /* 헤더 셀의 패딩 */
  text-align: left; /* 텍스트 정렬 */
  border-bottom: 2px solid #ddd; /* 헤더 하단에 선 추가 */
}

.missionMngStatusDiv td {
  padding: 10px 15px; /* 셀의 패딩 */
  border-bottom: 1px solid #ddd; /* 셀 하단에 선 추가 */
}

.missionMngStatusDiv tr:nth-child(even) {
  background-color: #f9f9f9;
}

.missionMngStatusDiv tr:nth-child(odd) {
  background-color: #fff;
}

.missionMngStatusDiv tr:hover {
  background-color: #f1f1f1;
}

.addMissionBtnDiv button {
  text-align: right;
  margin-bottom: 5%;
}

/* Add Mission Form */
.addInputDiv {
  margin-top: 10%;
}

.addMissionDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
