/* AddMission.css */

/* Mission Status Table */
.missionMngStatusDiv {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 테이블에 그림자 추가 */
}

.missionMngStatusDiv th {
  background-color: #f2f2f2; /* 헤더 배경색 */
  color: #333; /* 헤더 텍스트 색상 */
  padding: 12px 15px; /* 헤더 셀의 패딩 */
  text-align: left; /* 텍스트 정렬 */
  border-bottom: 2px solid #ddd; /* 헤더 하단에 선 추가 */
}

.missionMngStatusDiv td {
  padding: 10px 15px; /* 셀의 패딩 */
  border-bottom: 1px solid #ddd; /* 셀 하단에 선 추가 */
}

.missionMngStatusDiv tr:nth-child(even) {
  background-color: #f9f9f9;
}

.missionMngStatusDiv tr:nth-child(odd) {
  background-color: #fff;
}

.missionMngStatusDiv tr:hover {
  background-color: #f1f1f1; /* 행 마우스 오버 시 배경색 변경 */
}

/* Add Mission Form */
.addMissionDiv {
  margin-top: 20px;
}

.addMissionDiv .MuiFormControl-root {
  margin-bottom: 16px; /* 폼 컨트롤 간의 간격 */
}

.addMissionDiv .MuiBox-root {
  margin-bottom: 16px; /* 박스 간의 간격 */
}

.addMissionDiv .MuiButton-root {
  margin-top: 16px; /* 버튼과 다른 요소 간의 간격 */
}
